footer {
    border: 0.1rem #000 solid;
    border-left: 0;
    border-right: 0;
    text-align: center;
    font-size: 1.3vw;
    margin-bottom: 0vw;
    .cells {
        display: inline-block;
        border-right: 1vh #000 solid;
        text-align: center;
        padding: 0vw 0.5vw;
        margin: 0.5vw;
    }
    p:last-child {
        border-right: 0;
    }
}