footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    width: 100%;
    .footer-links {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        a {
            color: #333;
            margin: 0 10px;
            text-decoration: none;
          }
          span {
            color: #333;
            margin: 0 10px;
          }
      }
      .footer-text {
        text-align: center;
        font-size: 14px;
      }
  }