.write_essay {
  text-align: center;
}
.write_essay h1 {
  color: red;
}
.write_essay button {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.write_essay button:hover {
  background-color: white;
  color: #4CAF50;
}
.write_essay #essay {
  margin-top: 2rem;
  display: none;
  margin: 2rem;
}
.write_essay #essay input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
}
.write_essay #essay .warning {
  color: red;
  font-weight: bold;
}
.write_essay #essay button {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
}
.write_essay #essay button:hover {
  background-color: white;
  color: #4CAF50;
}

.switch {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40%;
  background-color: rgb(80, 79, 79);
  color: white;
  align-items: center;
  text-align: center;
  box-shadow: 2px 3px 5px grey;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}
.switch tr th:nth-child(1) {
  text-align: left;
}
.switch tr th:nth-child(3) {
  text-align: right;
}
.switch #openButton {
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.4s;
}
.switch #doneButton {
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.4s;
}

#open {
  display: block;
}

.done {
  display: none;
}

.order {
  margin-top: 1rem;
  margin-bottom: -2rem;
  width: 96.4%;
  margin-right: 2.3rem;
  margin-left: 2.3rem;
  color: white;
}
.order tr td form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  font-family: sans-serif;
  font-weight: bold;
  line-height: inherit;
  font-size: 1.5rem;
  margin-top: 1.3rem;
  cursor: pointer;
  color: black;
  background-color: white;
}
.order tr td form button {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 0.1rem;
  margin-bottom: 0.4rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
.order tr td form button:hover {
  background-color: white;
  color: #4CAF50;
}
.order tr td:nth-child(1) {
  width: 20%;
}
.order tr td:nth-child(2) {
  text-align: left;
}
.order tr td:nth-child(3) {
  text-align: right;
}
.order tr td:nth-child(3) button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: royalblue;
  border: 1px solid royalblue;
  box-shadow: 0px 0px 27px 0px #000000;
  transition-duration: 0.4s;
  cursor: pointer;
}
.order tr td:nth-child(3) button i {
  color: white;
}
.order tr td:nth-child(3) button:hover {
  background-color: white;
  color: royalblue;
}
.order tr td:nth-child(3) button:hover i {
  color: royalblue;
}

main .task {
  padding: 20px;
  font-size: 20px;
  background-color: lightgray;
  margin: 35px;
  border-radius: 15px;
  box-shadow: 0px 0px 27px 0px #000000;
  overflow-x: auto;
}
main .task table {
  width: 100%;
  /* Title */
  /* Edit & Delete */
  /* Live time change */
  /* Clock */
  /* Complete Task */
  /* Up or down */
}
main .task table th .cke_top {
  display: none;
}
main .task table th textarea {
  min-width: 20%;
}
main .task table th:nth-child(1) {
  font-size: 0.5rem;
}
main .task table th:nth-child(5) {
  width: 9%;
  color: red;
}
main .task table th:nth-child(5) img {
  width: 25%;
  margin: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .task table th:nth-child(5) img:hover {
  transform: scale(0.7);
}
main .task table th:nth-child(6) {
  font-size: 0.8rem;
}
main .task table th:nth-child(7) {
  width: 5%;
}
main .task table th:nth-child(7) img {
  width: 100%;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .task table th:nth-child(7) img:hover {
  transform: scale(0.7);
}
main .task table #completeBtn {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .task table #completeBtn:hover {
  background-color: white;
  color: #4CAF50;
}
main .task table th:nth-child(8) {
  width: 12%;
}
main .task table th:nth-child(9) {
  width: 5%;
}
main .task table th:nth-child(9) img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.4s;
}
main .task table th:nth-child(9) img:hover {
  transform: scale(0.7);
}
@media screen and (max-width: 1216px) {
  main .task #open table.order tr td h2 {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 1216px) {
  main .task table {
    border: 0;
  }
  main .task table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    /* Clock */
    /* Edit & Delete */
    /* Up or down */
  }
  main .task table tr th {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: center;
  }
  main .task table tr th::before {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  main .task table tr th:last-child {
    border-bottom: 0;
  }
  main .task table tr th:nth-child(7) img {
    width: 200%;
    margin-left: 20%;
  }
  main .task table tr th:nth-child(5) img {
    width: 100%;
  }
  main .task table tr th:nth-child(9) img {
    width: 150%;
  }
}

.noData {
  text-align: center;
}
.noData h1 {
  color: red;
}
.noData p {
  color: white;
}
.noData button {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.noData button:hover {
  background-color: white;
  color: #4CAF50;
}

.essay {
  margin: 20px;
}
.essay .cke_top {
  display: none;
}
.essay .acre {
  text-align: center;
}
.essay .acre button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.essay .acre button:hover {
  border-radius: 0%;
}
.essay .acre .acbtn {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
}
.essay .acre .acbtn:hover {
  transform: scale(1.1);
}
.essay .acre .rebtn {
  background-color: red;
  border: 1px solid red;
  color: white;
}
.essay .acre .rebtn:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=home.css.map */