/* Navigation Bar */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: black;
}

nav {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 2px 3px 5px grey;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    color: black;
}

.part1 {
    margin-left: 2rem;
    display: flex;
    width: 25%;
    cursor: pointer;
}

.part1 img {
    object-fit: contain;
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 40px;
    transition: 500ms;
}

.part1 img:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.part1 h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    transition-duration: 0.4s;
}

.part1 h1:hover {
    text-shadow: 2px 2px lightgray;
}

.burger {
    color: black;
    display: none;
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2rem;
    cursor: pointer;
}

.part2 {
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    margin-right: 2rem;
}

.part2 a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 2rem;
    transition-duration: 0.4s;
}

.part2 a:hover {
    font-style: italic;
    color: white;
}

.part2 a.active {
    color: yellow;
    font-style: italic;
}

.part2 button {
    background-color: royalblue;
    border: 2px solid royalblue;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.part2 button:hover {
    background-color: white;
    color: royalblue;
    border: 2px solid royalblue;
}

.part2 button.active {
    border: 2px solid white;
    background-color: white;
    color: royalblue;
}

/* Responsive styling for mobile devices */
@media screen and (max-width: 767px) {
    nav {
        justify-content: space-between; /* Ensure space between part1 and burger */
    }
    .burger {
        display: block;
        margin-right: 1rem; /* Adjust the margin as needed */
    }
    .part2 {
        display: none; /* Hide the menu by default */
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 55px; /* Adjust based on your header height */
        left: 0;
        text-align: center;
        flex-direction: column;
    }
    .part2.responsive {
        display: flex;
        height: 29vh;
        box-shadow: -1px 24px 37px -10px rgba(255,255,255,0.68);
        -webkit-box-shadow: -1px 24px 37px -10px rgba(255,255,255,0.68);
        -moz-box-shadow: -1px 24px 37px -10px rgba(255,255,255,0.68);
    }    
    .part2 a, .part2 button {
        display: block;
        padding: 10px 0;
        color: white;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 1rem;
    }
}
