.leiste {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    tr {
        th {
            button {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: royalblue;
                border: 1px solid royalblue;
                box-shadow: 0px 0px 27px 0px gray;
                transition-duration: 0.4s;
                cursor: pointer;
                i {
                    color: white;
                }
                &:hover {
                    background-color: white;
                    color: royalblue;
                    i {
                        color: royalblue;
                    }
                }
            }
        }
        th:nth-child(1) {
            text-align: left;
        }
        th:nth-child(3) {
            text-align: right;
        }
    }
}

.search{
    margin: auto;
    display: block;
    padding: 15px 232px;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0px 0px 30px 2px gray;
  transition-duration: 0.8s;
  outline: none;
  &:focus{
    border-radius: 50px;
  }
}

.noData{
    text-align: center;
    h1{
        color: red;
    }
    p{
        color: white;
    }
}

#nothingFound {
    margin-left: auto;
    margin-right: auto;
    color: red;
    display: none;
    img{
        filter: invert(1) grayscale(1) brightness(2);
    }
}

.data,
td,
th {
    text-align: left;
}

.flex-container {
    &>div {
        display: flex;
        flex-wrap: wrap;
        .data {
            border-spacing: 0;
            background-color: lightgray;
            box-shadow: 0px 0px 30px 2px gray;
            border-radius: 20px;
            margin-left: 2.5rem;
            margin-bottom: 2rem;
            tr {
                border: solid 5px gray;
                padding: 20px;
                td {
                    padding: 5px;
                    button {
                        background-color: royalblue;
                        border: 1px solid royalblue;
                        color: white;
                        padding: 16px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        transition-duration: 0.4s;
                        cursor: pointer;
                        i {
                            color: white;
                        }
                        &:hover {
                            background-color: transparent;
                            color: royalblue;
                            i {
                                color: royalblue;
                            }
                        }
                    }
                    img {
                        width: 8%;
                        object-fit: contain;
                    }
                }
                .editDelete {
                    width: 17%;
                    font-size: 3rem;
                    img {
                        width: 20%;
                        transition-duration: 0.4s;
                        cursor: pointer;
                        &:hover {
                            transform: scale(0.7);
                        }
                    }
                }
                .cke_top {
                    display: none;
                }
            }
        }
    }
}


th{
    padding: 5px;
}

.noData {
    text-align: center;
    h1 {
        color: red;
    }
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
    .search {
        padding: 30px; /* Reduce padding */
        font-size: 1rem; /* Further reduce font size */
    }

    .flex-container > div {
        .data {
            margin-left: 0.5rem; /* Adjust margin */
            margin-right: 0.5rem; /* Adjust margin */
            tr {
                padding: 0;
                .editDelete{
                    img{
                        width: 50%;
                    }
                }
                td{
                    padding: 0;
                }
            }
        }
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .search {
        padding: 10px; /* Reduce padding */
        font-size: 0.9rem; /* Further reduce font size */
    }

    .flex-container > div {
        .data {
            margin-left: 0.2rem; /* Adjust margin */
            margin-right: 0.2rem; /* Adjust margin */
        }
    }

    .noData {
        h1 {
            font-size: 1.5rem; /* Adjust font size */
        }
    }

    #nothingFound {
        img {
            width: 40px; /* Adjust image size */
        }
    }
}