.leiste {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    tr {
        th {
            button {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: royalblue;
                border: 1px solid royalblue;
                box-shadow: 0px 0px 27px 0px #000000;
                transition-duration: 0.4s;
                cursor: pointer;
                i {
                    color: white;
                }
                &:hover {
                    background-color: white;
                    color: royalblue;
                    i {
                        color: royalblue;
                    }
                }
            }
        }
        th:nth-child(1) {
            text-align: left;
        }
        th:nth-child(3) {
            text-align: right;
        }
    }
}

.data,
td,
th {
    text-align: left;
}

.data {
    border-spacing: 0;
    width: 96.5%;
    background-color: transparent;
    box-shadow: 0px 0px 30px 2px #000000;
    margin-left: auto;
    margin-right: auto;
    td {
        border: solid 5px #000;
        border-style: none solid solid none;
        padding: 20px;
        .cke_top {
            display: none;
        }
        button {
            display: block;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            transition-duration: 0.4s;
            cursor: pointer;
            img {
                width: 70%;
                object-fit: contain;
            }
            &:hover {
                transform: scale(1.8);
                background-color: rgb(138, 138, 138);
            }
        }
    }
    tr:first-child {
        td:first-child {
            border-top-left-radius: 10px;
        }
    }
    tr:first-child {
        td:last-child {
            border-top-right-radius: 10px;
        }
    }
    tr:first-child {
        td {
            border-top-style: solid;
            background-color: royalblue;
            color: white;
        }
    }
    tr {
        td:first-child {
            border-left-style: solid;
        }
    }
    tr {
        td:first-child {
            border-bottom-left-radius: 10px;
        }
    }
    tr {
        td:last-child {
            border-bottom-right-radius: 10px;
        }
    }
}

th,
td {
    padding: 15px;
}

.noData {
    text-align: center;
    h1 {
        color: red;
    }
}